body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: #87d6c9;
  color: #333;
}

h1,h2, h3 {
  color: #1a4e8a;
  text-align: center;
}

p {
  text-align: center;
}

.learn {
  text-align: left;
  margin-left: 10px;
}
.aki-image {
  max-width: 100%;
  height: auto;
  display: block;
  
}

.aki-image img {
  max-width: 250px;
  border-radius: 12px;
}

img {
  text-align: center;
}
ul {
  padding-left: 20px;
}
ul li {
  margin-bottom: 10px;
}

ul li {
  margin-bottom: 10px;
  line-height: 1.5;
}

header, footer {
  background: #87d6c9;
  padding: 20px;
  text-align: center;
}

footer {
  border-top: 2px solid #d0e0f0;
  font-size: 0.9em;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  border-radius: 8px;
}
